@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
} */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
	background: url("./img/Sky.jpg") 50% 50%/cover no-repeat;;
	overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
    h1 {
        font-size: 30px;
        top: 40%;
    }  
}

@media screen and (min-width: 769px){
    h1 {
        font-size: 40px;
    }
}

#menu {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}


h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
    color: #ffffff;
}

.gameMenu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


nav {
    background-color: #ffffff;
    padding: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: width 0.6s linear;
    overflow-x: hidden; 
}

@media screen and (max-width:610px) {
    nav.active {
        width: 320px;
    }
}

@media screen and (min-width:611px) {
    nav.active{
        width: 550px;
    }

}
nav.active {
   margin: 0px 5px;
} 

nav ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;

}

nav.active ul {
width: 100%;
}

nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
}

nav ul a { 
    position: relative;
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.icon {
background-color: #ffffff;
border: 0;
cursor: pointer;
padding: 0;
position: relative;
height: 30px;
width: 30px;
}

.icon:focus {
    outline: 0;
}

.icon .line {
    background-color: blue;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}

.icon .line2 {
    top: auto;
    bottom: 10px;

}

nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
} 

nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
} 

#myGame {
    display: none;
    width: 100%;
    height: 100%;
}

.arkanoid {
    font-size: 60px;
    color: #004b7a;
    font-family: "Germania One";
    font-weight: bold;
}

*{
    font-family: "Germania One";
}

.game {
    position: relative;
}



#pause {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 5px;
}


#sound{
    width: 30px;
    height : 30px;
    cursor: pointer;
    position: absolute;
    bottom : 20px;
    left : 5px;
}
#gameover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}
#youwon{
    width: 100px;
    position: absolute;
    top : 35%;
    left : 43%;
    display: none;
}
#youlose{
    width:100%;
    position: absolute;
    top: 20%;
    left : 0%;
    display: none;
}
#restart{
    position: absolute;
    top: 56%;
    left : 43%;
    cursor: pointer;
    font-size: 1.24em;
    color : #FFF;
}
